/* ***** Basic start ***** */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
}
/* ***** Basic end ***** */

/* ***** Utils start ***** */

/* ***** Utils end ***** */

/* ***** section top start ***** */
.section-top {
  background-image: linear-gradient(
      360deg,
      #121212 0%,
      rgba(18, 18, 18, 0) 100%
    ),
    url(images/donation5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.section-top h1 {
  width: 90rem;
  font-size: 6.5rem;
  font-weight: 700;
  color: #fff;
}

.section-top p {
  width: 60rem;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #fff;
}

.btn {
  text-decoration: none;
  border: none;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  background-color: #ff5959;
  padding: 1.6rem 1.2rem;
  border-radius: 0.5rem;
}
/* ***** section top end ***** */
