/* ***** Basic start ***** */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
}
/* ***** Basic end ***** */

/* ***** Utils start ***** */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  font-size: 1.8rem;
  line-height: 2.8rem;
}

img {
  width: 100%;
}

section {
  margin-bottom: 10rem;
}
/* ***** Utils end ***** */

/* ***** section top start ***** */
.section-top {
  background-image: linear-gradient(
      360deg,
      #121212 0%,
      rgba(18, 18, 18, 0) 100%
    ),
    url(images/donation5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.section-top h1 {
  width: 90rem;
  font-size: 6.5rem;
  font-weight: 700;
  color: #fff;
}

.section-top p {
  width: 60rem;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #fff;
}

.btn {
  display: inline-block;
  text-decoration: none;
  border: none;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  background-color: #ff5959;
  padding: 1.2rem 1.6rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
/* ***** section top end ***** */

/* ***** section donate start ***** */
.section-donate {
}

.section-donate--des {
  text-align: center;
}

.section-donate--des h2 {
  font-size: 4.5rem;
  font-weight: 700;
  color: #121212;
}

.section-donate--des p {
  font-size: 1.8rem;
  line-height: 2.8rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.section-donate--amount {
  width: 80%;
  margin: 5rem auto;
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}

.section-donate--amount p {
  font-size: 3rem;
  font-weight: 700;
}

.active-amount {
  color: #ff5959;
  border: 2px solid #ff5959;
  background-color: #ffeeee;
  border-radius: 0.5rem;
  padding: 2rem;
  align-self: center;
  justify-content: center;
}

#amount {
  display: block;
  color: #b3b3b3;
  text-align: center;
  border: none;
  border-bottom: 1px solid #dadada;
  width: 75rem;
  padding: 1rem;
  margin: 0 auto;
}

.btn-donate {
  display: block;
  border: none;
  margin: 3rem auto;
}
/* ***** section donate end ***** */

/* ***** section plan start ***** */
.section-plan {
}

.section-plan--des {
  margin: 0 auto;
  text-align: center;
}

.section-plan--des h2 {
  font-size: 4.5rem;
  color: #121212;
}

.section-plan--des p {
  color: #707070;
  width: 60rem;
  margin: 2rem auto;
}

.plan-list {
  display: flex;
  gap: 5rem;
  margin: 5rem 0;
  justify-content: center;
}

.plan-item {
  border-radius: 0.5rem;
  width: 35rem;
  height: 35rem;
  padding: 6rem 2rem;
}

.item-1 {
  background-color: rgba(79, 157, 166, 0.1);
}

.item-2 {
  background-color: rgba(255, 89, 89, 0.1);
}

.item-3 {
  background-color: #fff4d6;
}

.plan-item h3 {
  font-size: 2.4rem;
  color: #121212;
  margin: 3rem 0;
}

.plan-item p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #707070;
}

.icon {
  width: 4.5rem;
  height: 4.5rem;
}
/* ***** section plan end ***** */

/* ***** section contribute start ***** */
.section-contribute {
}

.contribute-part {
  display: flex;
  justify-content: center;
  gap: 10rem;
  margin-bottom: 6rem;
}

.contribute-part--img {
  width: 45rem;
  height: 45rem;
  border-radius: 0.5rem;
}

.contribute-part--img img {
  width: 50rem;
  height: 45rem;
  border-radius: 0.5rem;
}

.contribute-part--des {
  width: 50rem;
}

.contribute-part--des h2 {
  font-size: 4.5rem;
  color: #121212;
}

.contribute-part--des p {
  color: #707070;
  margin: 2rem 0;
}

/* ***** section contribute end ***** */

/* ***** section subscribe start ***** */
.section-subscribe {
}

.section-subscribe--des {
  text-align: center;
}

.section-subscribe--des h2 {
  font-size: 4.5rem;
  color: #121212;
}

.section-subscribe--des p {
  color: #707070;
  margin: 2rem auto;
  width: 60rem;
}

form {
  width: 80rem;
  background-color: #fff4d6;
  margin: 5rem auto;
  padding: 5rem 8rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

#email {
  display: inline-block;
  font-size: 1.8rem;
  padding: 1.2rem 1.6rem;
  width: 27rem;
  border: none;
}

.subscribe {
  border-radius: 0;
}

/* ***** section subscribe end ***** */

/* ***** footer start ***** */
footer {
  background-color: #0b0d17;
  text-align: center;
  padding: 4rem;
}

footer h2 {
  font-size: 4.4rem;
  color: #ff5959;
  letter-spacing: 0.5px;
}

footer p {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #d9dbe1;
  margin-top: 3rem;
}
/* ***** footer end ***** */
